include CMakeLists.txt README.md LICENSE
include .gitmodules
include scripts/build_wheel.sh scripts/build_profiler.sh scripts/apply_cutlass_patches.sh
recursive-include csrc *.hpp *.h *.cu *.cpp
recursive-include patches *.patch *.md
recursive-include third_party/cutlass/include *
recursive-include third_party/cutlass/tools/util/include *
include third_party/humming/LICENSE
recursive-include third_party/humming/humming *
